./src/clustering.py~
./src/__pycache__
./src/dendrogram.py
./src/dendrogram.py~
./src/dim_red.py~
./src/ft_input.py
./src/ft_input.py~
./src/ftsino_input.py
./src/ftsino_input.py~
./src/main.py~
./src/sinogram_input.py~
./src/sino_Yuriy
